.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(184, 181, 181);
  border-radius: 10px;
  margin-left: 20px;
  width: 180px;
  height: 98%;
}
.principal {
  display: flex;
  width: 320px;
  font-size: 23px;
  margin-top: 0;
}

.principal > button {
  display: none;
}
.principal > section {
  overflow: hidden;
  align-items: center;

}


img {
  width: 98%;
  height: 43%;
  margin-top: 18px;
  margin-bottom: 8px;
  
}

.title {
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  text-align: center;
}
.temp{
     overflow: hidden;
}

.temp.temp {
  margin-right: 12px;

}

img {
  background-color: rgba(223, 223, 223, 0.815);
  border-radius: 10px;
}
.button {
  display: flex;
  border-radius: 8px;
  background: rgb(106, 95, 95);
  color: rgba(216, 206, 206, 0.866);
  cursor: pointer;
  border: 1px solid #413f3f92;
  margin-left: 140px;
  margin-top: 3px;
}
.button:hover {
  background-color: rgb(220, 235, 246);
  color: rgb(46, 43, 43);
  border: none;
}
